<!DOCTYPE html>
<html>
	<head th:fragment="headerfiles(title)">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	  	<!-- CSS only -->
	  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	  
	  	<!-- JavaScript Bundle with Popper -->
	  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/css/style.css">		
		<title th:text="${title}"></title>	
	</head>
	
	<body>
		<div class="gfnav container rounded mt-3" th:fragment="navbar" >
		  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
			<a href="/" class=" d-flex align-items-center justify-content-center col-md-3 mb-2 mb-md-0 py-2 rounded">
				Catering Service
			    </a>
			    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			      <li><a href="/" class="nav-link px-4 ">Home</a></li>
			      <li><a href="/" th:href = @{/buffet/all} class="nav-link px-4 link-dark">Buffet</a></li>
			      <li><a href="/" th:href = @{/chef/all} class="nav-link px-4 link-dark">Chef</a></li>
			    </ul>
			
			    <div class="col-md-3 text-end">
			      <a sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-primary me-2" href="/" th:href = @{/login}>Login</a>
			      <a sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary " href="/" th:href = @{/register}>Sign-up</a>
			      <a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary" href="/" th:href = @{/logout}>Logout</a>
<!-- 			      <span sec:authorize="isAuthenticated()" th:text="|Logged as: ${#authentication.getPrincipal().getUsername()}|"></span>		    	 -->
			    
			    </div>
		  </header>
		</div>
		
		<div class="gffooter container rounded" th:fragment="footer">
		  <footer class="py-3 my-4">
		    <ul class="nav justify-content-center pb-3 mb-3 border-bottom border-primary border-2">
		      <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
		      <li class="nav-item"><a href="/" th:href = @{/buffet/all}  class="nav-link px-2 text-muted">Buffet</a></li>
		      <li class="nav-item"><a href="/" th:href = @{/chef/all} class="nav-link px-2 text-muted">Chef</a></li>
		    </ul>
		    <p class="text-center text-muted">&copy; Made by Gianluca Farinaccio @isRoutine, June 2022</p>
		  </footer>
		</div>
				
	</body>
</html>