<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Catering Service - Elenco Dish</title>	
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h4>Elenco Dish</h4>

	    <div>
			<ul>
				<li th:each="dish : ${dishs}"> 
					<span>
						<a href="DishList.html" th:href = "@{'/dish/' + ${dish.id}}" th:text="${dish.name}">Dish</a>			
					</span>
					<span><a href="DishList.html" th:href = "@{'/dish/delete/' + ${dish.id}}">Cancella</a></span>
					<span><a href="DishList.html" th:href = "@{'/dish/edit/form/' + ${dish.id}}">Modifica</a></span>
				</li>
			</ul>
		</div>

	</body>
</html>