<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Login')"></head>
	<body>
		<div th:replace="fragments/base.html :: navbar"></div>
		
		<div class="my-5 container ">
			<div class="row d-flex justify-content-center my-5">
			</div>		
			<div class="row d-flex justify-content-center  my-2">
				<div class="col-6 card border border-primary border-1" >
				<h3 class="card-title m-3 d-flex justify-content-center">Login</h3>
					<form th:action="@{/login}" method="post" class="m-3">
					  <div class="mb-3">
					    <label class="form-label">Username</label>
					    <input name="username" type="text" required class="form-control shadow">
					  </div>
					  <div class="mb-3">
					    <label class="form-label">Password</label>
					    <input name="password" type="password" required class="form-control shadow">
					  </div>
					  <button type="submit" class="btn btn-primary shadow">Sign In</button>
					</form>		
				</div>	
				<div class="col-4  mx-3  p-3 card d-flex justify-content-center align-items-center">
					<p class="card-title"><strong>Non hai un account? Prova con Google!</strong></p>
					<a type="submit" href="oauth2/authorization/google" class="btn btn-success mt-1 mb-4 shadow">Sign In with Google</a>	
					<p class="card-title">Altrimenti puoi registrarti</p>
					<a type="submit" th:href="@{/register}" class="btn btn-primary my-1 shadow">Sign Up</a>	
				</div>			
			</div>
		</div>
		

	</body>
</html>