<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Catering Service - Elenco Buffet</title>	
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h4>Elenco Buffet</h4>

	    <div>
			<ul>
				<li th:each="buffet : ${buffets}"> 
					<span>
						<a href="BuffetList.html" th:href = "@{'/buffet/' + ${buffet.id}}" th:text="${buffet.name}">Buffet</a>			
					</span>
					<span><a href="BuffetList.html" th:href = "@{'/buffet/delete/' + ${buffet.id}}">Cancella</a></span>
					<span><a href="BuffetList.html" th:href = "@{'/buffet/edit/form/' + ${buffet.id}}">Modifica</a></span>
				</li>
			</ul>
		</div>

	</body>
</html>