<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Catering Service - Dettaglio buffet')"></head>

	<body>

		<div th:replace="fragments/base.html :: navbar"></div>
		
		<div class="shadow container d-flex justify-content-center align-items-center px-0" style="width:auto; position: relative;">
			<img src="/img/catering.jpg" style="opacity:0.4"  class="img rounded-2 flex-fill shadow-lg" alt="...">		
				<div style="padding:20px; position: absolute; vertical-align:middle; text-align:center">
					<h1 th:text="|${buffet.name}|" style="color: white"></h1>		
					<h4 th:text="|${buffet.description}|" style="color: white"></h4>	
				</div>
		</div>		
				
		<div class="container px-0 mt-4 shadow">
			<a sec:authorize="hasAuthority('ADMIN')"  th:href="@{'/chef/' +${buffet.chef.id}}"href="/" class="mx-1 shadow-sm btn btn-primary">Visualizza Chef</a>		

			<div class=" d-flex row justify-content-between m-1">
				
				<div class="col d-flex justify-content-center my-1 px-0">
					<div class="card flex-grow-1">
			  			<div class="card-body p-4">
			   				 <h3 class="card-title d-flex justify-content-center mb-4"> Menù</h3>		   				 
						 	<div class="col accordion" id="accordionExample">
								<div class="accordion-item shadow"  th:each="dish : ${buffet.dishes}">
							    	<div class="container">
							    		<div class="row">
							    			<div class="col-lg-8 col-md-6 col-sm-4 px-0">
										    	<h2 class="accordion-header" th:id="'heading' + ${dish.id}">
										      		<button th:text="${dish.name}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
										      		        th:data-bs-target="'#collapse' + ${dish.id}" aria-expanded="false" th:aria-controls="'collapse' + ${dish.id}">
										        		Accordion Item #2
										      		</button>
										    	</h2>
							    			</div>	
							    			<div class="d-flex col mx-4 px-0 align-items-center justify-content-center">
							    				<a sec:authorize="hasAuthority('ADMIN')" th:href = "@{'/dish/edit/' + ${dish.id} +'/'+ ${buffet.id}}" href="/" type="button" class="shadow-sm btn btn-outline-primary">
							    					Modifica
							    				</a>
							    			</div>	
							    			<div class="d-flex col me-4 px-0 justify-content-center align-items-center"> 
								    			<a sec:authorize="hasAuthority('ADMIN')" th:href = "@{'/dish/delete/' + ${dish.id} +'/'+ ${buffet.id}}" href="/" class="shadow-sm btn btn-outline-danger" aria-label="Close">
								    				Elimina
								    			</a>
							    			</div>
							    		</div>
							    	</div>
							    	<div th:id="'collapse' + ${dish.id}" class="accordion-collapse collapse" th:aria-labelledby="'heading' + ${dish.id}" data-bs-parent="#accordionExample">
							    		<div class="accordion-body" th:text="${dish.description}"></div>
								    	<div class="container">
								    		<div class="row m-3">
								    			<h3 class="mb-4"> Ingredienti: </h3>
									    	    <ul class="list-group">
								    	    		<li th:each="ingredient : ${dish.ingredients}" class="list-group-item shadow" >
												 	    <div class="container">
												 	    	<div class="row">
												 	    		<div class="col d-flex align-items-center">
   														 	    	<div th:text="|${ingredient.name}: ${ingredient.description}, ${ingredient.origin}|">
												 	    				Ingrediente
												 	    			</div>
												 	    		</div>
												    			<div class="d-flex col-2 align-items-center justify-content-center">
												    				<a sec:authorize="hasAuthority('ADMIN')" th:href = "@{'/ingredient/edit/' + ${ingredient.id} +'/' + ${buffet.id}}" href="/" type="button" class="shadow-sm btn btn-outline-primary">
												    					Modifica
												    				</a>
												    			</div>	
												    			<div class="d-flex col-1 justify-content-center align-items-center">
													    			<a  sec:authorize="hasAuthority('ADMIN')" th:href = "@{'/ingredient/delete/' + ${ingredient.id} +'/'+ ${buffet.id}}" href="/" class="shadow-sm col btn btn-outline-danger" aria-label="Close">
													    				Elimina
													    			</a>
												    			</div>												 	    		
												 	    	</div>
												 	    </div>

												 	</li>									    	    					 		
												</ul>	
								    		<div class="row my-5">
								    			<div class="col-lg-4 col-sm-10">
													<a sec:authorize="hasAuthority('ADMIN')" th:href = "@{'/ingredient/add/' + ${dish.id} +'/'+ ${buffet.id}}" href="/" class="shadow-sm btn btn-outline-primary">
														+ Aggiungi Ingrediente
													</a>
								    			</div>
								    		</div>
								    	</div> 

							    	</div>
							    	
							    	
							 	</div>
							</div>	

			  			</div>
			  			<div class="row d-flex justify-content-center m-3">
							<div class="d-flex col mt-4 m-2 justify-content-end">
							<a sec:authorize="hasAuthority('ADMIN')" th:href = "@{'/dish/add/form/' + ${buffet.id}}" href="/" class="shadow btn btn-outline-primary">+ Aggiungi Piatto</a>
						</div>
					</div> 			
				</div>				
			</div>
		</div>	
		</div>	
		</div>
		

		<div th:replace="fragments/base.html :: footer"></div>
		
	</body>
</html>