<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Catering Service - Add chef</title>	
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h4>Add chef</h4>
		<form th:action=@{/chef/add} method="post" th:object="${chef}">
			<div>Name: <input type="text" th:field="*{name}"/></div>
			<div>Surname: <input type="text" th:field="*{surname}"/></div>
			<div>Nationality: <input type="text" th:field="*{nationality}"/></div>
			<div><button type="submit">Submit</button></div>
		</form>
	</body>
</html>