<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Catering Service - Home</title>	
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<h4>Catering Service</h4>
		<div>
			<a th:href = @{/register} href="\" >Register</a>
		</div>
		<div>
			<a th:href = @{/login} href="\" >Login</a>
		</div>
		<div>
			<a th:href = @{/buffet/all} href="\" >Elenco Buffet</a>
		</div>
		<div>
			<a th:href = @{/dish/all} href="\" >Elenco Piatti</a>
		</div>
		<div>
			<a th:href = @{/chef/all} href="\" >Elenco Chef</a>
		</div>
		<div>
			<a th:href = @{/buffet/add/form} href="\" >Aggiungi Buffet</a>
		</div>
		<div>
			<a th:href = @{/dish/add/form} href="\" >Aggiungi Piatto</a>
		</div>
		<div>
			<a th:href = @{/chef/add/form} href="\" >Aggiungi Chef</a>
		</div>
	</body>
</html>