<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Catering Service - Home</title>	
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h4>Catering Service</h4>
		<div>
			<a href="\" >Login</a>
		</div>
		<div>
			<a th:href = @{/buffet/all} href="\" >Elenco Buffet</a>
		</div>
		<div>
			<a th:href = @{/chef/all} href="\" >Elenco Chef</a>
		</div>
		<div>
			<a th:href = @{/buffet/add/form} href="\" >Aggiungi Buffet</a>
		</div>
		<div>
			<a th:href = @{/chef/add/form} href="\" >Aggiungi Chef</a>
		</div>
	</body>
</html>