<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

	<body>

		<div th:replace="fragments/base.html :: navbar"></div>
		<div class="container d-flex justify-content-center align-items-center px-0" style="width:auto; position: relative;">
			<img src="/img/catering.jpg" style="opacity:0.4"  class="img rounded-2 flex-fill shadow-lg" alt="...">		
				<div style="padding:20px; position: absolute; vertical-align:middle; text-align:center">
					<h1 style="color: white">CateringService</h1>	
					<h2 style="color: white">Gianluca Farinaccio, 06.2022</h2>	
					<h4 style="color: white">github.com/isRoutine/catering-service</h4>		
				</div>

		</div>
		
		<div class="container my-4 border card px-5 border-success border-1 shadow-lg gftext">
			<div class=" d-flex row justify-content-center mt-5 mb-3">
				<h4 class="d-flex justify-content-center">Una breve selezione dei nostri Chef</h4>
			</div>
			<div class=" d-flex row justify-content-start m-1">
				<div th:each="chef : ${chefs}" class="col-md-6 col-lg-4 d-flex justify-content-center my-1">
					<div class="card flex-grow-1 shadow">
						<img src="/img/chef.jpg" class="card-img-top container d-flex justify-content-center" style="width:70%" alt="...">
			  			<div class="card-body">
			   				 <h5 class="card-title" th:text="${chef.name}">Chef 1</h5>
			   				 <h5 class="card-title" th:text="${chef.surname}">Chef 1</h5>
			    			 <p class="card-text" th:text="${chef.nationality}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    			 <div class="container">
			    			 	<div class="row d-flex justify-content-center px-3 mt-4 mb-2">
			    					<a sec:authorize="isAuthenticated()" th:href = "@{'/chef/' + ${chef.id}}" href="/" class="shadow btn btn-primary">
			    						Visualizza Dettagli
			    					</a>			    					
			    			 	</div>		    			 					    			 
			    			 </div>
			  			</div>
					</div> 			
				</div>				
			</div>	
			<div class=" d-flex row justify-content-end m-3">
				<div class ="col col-lg-3 d-flex justify-content-end p-0 mt-4 mb-2">
					<a th:href = "@{/chef/all}" href="/" class="btn btn-outline-success shadow">
				    	Vedi tutti gli chef >
				    </a>				
				</div>
			</div>	
		</div>
		
		
		<div class="container my-4  card px-5 border border-success border-1 shadow-lg">
			<div class=" d-flex row justify-content-center mt-5 mb-3">
				<h4 class="d-flex justify-content-center">Una breve selezione dei nostri buffet</h4>
			</div>
			<div class=" d-flex row justify-content-start m-1">
				<div th:each="buffet : ${buffets}" class="col-md-6 col-lg-4 d-flex justify-content-center my-1">
					<div class="card flex-grow-1 shadow">
						<img src="/img/food.jpg" class="card-img-top" alt="...">
			  			<div class="card-body">
			   				 <h5 class="card-title" th:text="${buffet.name}">Buffet 1</h5>
			    			 <p style="height:80px; overflow:hidden" class="card-text" th:text="${buffet.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    			 <div class="container">
			    			 	<div class="row d-flex justify-content-center px-3 mt-4 mb-2">
			    					<a sec:authorize="isAuthenticated()" th:href = "@{'/buffet/' + ${buffet.id}}" href="/" class="btn btn-primary shadow">
			    						Visualizza Dettagli
			    					</a>			    					
			    			 	</div>		    			 					    			 
			    			 </div>
			  			</div>
					</div> 			
				</div>				
			</div>	
			<div class=" d-flex row justify-content-end m-3">
				<div class ="col col-lg-3 d-flex justify-content-end p-0 mt-4 mb-2">
					<a th:href = "@{/buffet/all}" href="/" class="btn btn-outline-success shadow">
				    	Vedi tutti i buffet >
				    </a>				
				</div>
			</div>	
		</div>
		
		
		<div th:replace="fragments/base.html :: footer"></div>

	</body>
</html>