body{
	background-color: #34495E;
}

.gfnav{
	background-color: white;	
}

.gffooter{
	background-color: white;	
}

.gfbadge{
	background-color: white;
}

.gftext{
	color: black;
}

.chefbg{
 background-image: url("/img/chefs.jpg");
 background-repeat: no-repeat;
}